In [3]:
import numpy as np
import pandas as pd
from datetime import datetime

In [5]:
data ={'date':['2018-01-01','2018-02-01',
'2018-03-01', '2018-04-01',
'2018-05-01', '2018-06-01',
'2018-01-01', '2018-02-01',
'2018-03-01', '2018-04-01',
'2018-05-01', '2018-06-01'],
'visitors': [35,30,82,26,
83, 46,40,57,95,57,87,42]}

In [6]:
df =pd.DataFrame(data,
columns=['date', 'visitors'])

In [7]:
df.head()

         date  visitors
0  2018-01-01        35
1  2018-02-01        30
2  2018-03-01        82
3  2018-04-01        26
4  2018-05-01        83

In [8]:
df.dtypes

date        object
visitors     int64
dtype: object

In [9]:
df.set_index('date', inplace=True)
df.sort_index(inplace=True)

In [10]:
df.head()

            visitors
date
2018-01-01        35
2018-01-01        40
2018-02-01        30
2018-02-01        57
2018-03-01        82

In [16]:
df.groupby('date').count()

            visitors
date
2018-01-01         2
2018-02-01         2
2018-03-01         2
2018-04-01         2
2018-05-01         2
2018-06-01         2

In [18]:
df.truncate(after='2018-03-01')

            visitors
date
2018-01-01        35
2018-01-01        40
2018-02-01        30
2018-02-01        57
2018-03-01        82
2018-03-01        95

In [28]:
df.groupby('date').describe()

           visitors
              count  mean        std   min    25%   50%    75%   max
date
2018-01-01      2.0  37.5   3.535534  35.0  36.25  37.5  38.75  40.0
2018-02-01      2.0  43.5  19.091883  30.0  36.75  43.5  50.25  57.0
2018-03-01      2.0  88.5   9.192388  82.0  85.25  88.5  91.75  95.0
2018-04-01      2.0  41.5  21.920310  26.0  33.75  41.5  49.25  57.0
2018-05-01      2.0  85.0   2.828427  83.0  84.00  85.0  86.00  87.0
2018-06-01      2.0  44.0   2.828427  42.0  43.00  44.0  45.00  46.0

In [29]:
pd.date_range('2018-05-30', '2018-06-02')

DatetimeIndex(['2018-05-30', '2018-05-31', '2018-06-01', '2018-06-02'], dtype='datetime64[ns]', freq='D')

In [30]:
pd.date_range('2018-05-30', periods=4)

DatetimeIndex(['2018-05-30', '2018-05-31', '2018-06-01', '2018-06-02'], dtype='datetime64[ns]', freq='D')

In [31]:
pd.date_range('2018-05-30', periods=4,freq='M')

DatetimeIndex(['2018-05-31', '2018-06-30', '2018-07-31', '2018-08-31'], dtype='datetime64[ns]', freq='M')

In [33]:
from numpy.random import randn
idx =pd.date_range('2018-06-04 00:00:00',
periods=4)
cols =['A','B','C','D']

In [34]:
data =randn(len(idx),len(cols))

In [35]:
df =pd.DataFrame(data=data,
index=idx, columns=cols)
df.index.name='date'

In [36]:
print(df)

                   A         B         C         D
date
2018-06-04 -0.874534  1.482689 -0.670200 -0.194643
2018-06-05 -0.628120 -0.238417 -0.002249  0.741926
2018-06-06 -0.433171 -1.268433 -0.537366 -1.568727
2018-06-07 -0.367801 -0.115250 -0.021389 -0.371967

In [37]:
df.reset_index(inplace=True)

In [38]:
melted=pd.melt(df,id_vars='date',
var_name='feature',
value_name='reading')

In [39]:
print(melted)

         date feature   reading
0  2018-06-04       A -0.874534
1  2018-06-05       A -0.628120
2  2018-06-06       A -0.433171
3  2018-06-07       A -0.367801
4  2018-06-04       B  1.482689
5  2018-06-05       B -0.238417
6  2018-06-06       B -1.268433
7  2018-06-07       B -0.115250
8  2018-06-04       C -0.670200
9  2018-06-05       C -0.002249
10 2018-06-06       C -0.537366
11 2018-06-07       C -0.021389
12 2018-06-04       D -0.194643
13 2018-06-05       D  0.741926
14 2018-06-06       D -1.568727
15 2018-06-07       D -0.371967

In [40]:
melted.set_index(’date’, inplace=True)
melted.sort_index(inplace=True)

SyntaxError: invalid character in identifier (<ipython-input-40-23bdab3d313a>, line 1)

In [41]:
melted.set_index('date', inplace=True)
melted.sort_index(inplace=True)

In [42]:
print(melted)

           feature   reading
date
2018-06-04       A -0.874534
2018-06-04       B  1.482689
2018-06-04       C -0.670200
2018-06-04       D -0.194643
2018-06-05       A -0.628120
2018-06-05       B -0.238417
2018-06-05       C -0.002249
2018-06-05       D  0.741926
2018-06-06       A -0.433171
2018-06-06       B -1.268433
2018-06-06       C -0.537366
2018-06-06       D -1.568727
2018-06-07       A -0.367801
2018-06-07       B -0.115250
2018-06-07       C -0.021389
2018-06-07       D -0.371967